/** Table **/
.crypto-table {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--gray-10-80);
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum";
    position: relative;
    font-size: 14px;
    background: var(--gray-1);
    border-radius: 2px;

    -webkit-animation: fadein 500ms;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 500ms;
    /* Firefox < 16 */
    -ms-animation: fadein 500ms;
    /* Internet Explorer */
    -o-animation: fadein 500ms;
    /* Opera < 12.1 */
    animation: fadein 500ms;

    table {
        width: 100%;
        text-align: left;
        border-radius: 2px 2px 0 0;
        border-collapse: separate;
        border-spacing: 0;

        .crypto-table-thead>tr>th {
            color: var(--gray-10-80);
            font-weight: 500;
            text-align: left;
            background: var(--gray-2);
            border-bottom: 1px solid var(--gray-4);
            -webkit-transition: background .3s ease;
            transition: background .3s ease;
        }

        .crypto-table-tbody>tr>td,
        .crypto-table-thead>tr>th,
        .crypto-table tfoot>tr>td,
        .crypto-table tfoot>tr>th {
            position: relative;
            padding: 16px;
            overflow-wrap: break-word;
        }

        .crypto-table-tbody>tr>td {
            border-bottom: 1px solid var(--gray-4);
            -webkit-transition: background .3s;
            transition: background .3s;

            &.error {
                color: var(--red-6);
            }

            &.success {
                color: var(--green-6);
            }
        }
    }

    /*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
    @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {

        /* Force table to not be like tables anymore */
        table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        tr:nth-child(odd) {
            background: var(--gray-4);
        }

        table .crypto-table-tbody>tr>td,
        table .crypto-table-thead>tr>th,
        table .crypto-table tfoot>tr>td,
        table .crypto-table tfoot>tr>th {
            padding: 4px;
        }

        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: none;
            position: relative;
        }

        td:first-child {
            font-weight: bold;
        }

        td:before {
            /* Now like a table header */
            // position: absolute;
            /* Top/left values mimic padding */
            top: 0;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

        /*
            Label the data
        You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
            */
        td:nth-of-type(1):before {
            content: "Date";
        }

        td:nth-of-type(2):before {
            content: "Coin price";
        }

        td:nth-of-type(3):before {
            content: "Change %";
        }

        td:nth-of-type(4):before {
            content: "Change from start %";
        }

        td:nth-of-type(5):before {
            content: "Total investment";
        }

        td:nth-of-type(6):before {
            content: "Balance";
        }

        td:nth-of-type(7):before {
            content: "Profit";
        }

        td:nth-of-type(8):before {
            content: "Profit %";
        }
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
